<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #map {
      height: 50%;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <script src="https://unpkg.com/axios@0.17.0/dist/axios.min.js"></script>
  <script src="bundle.js"></script>
</head>

<body>
  <div style="display: flex">
    <% if (!user) { %>
    <a href="/login">Login</a>
    <%} else {%> 
    <div style="margin-left: 0; margin-right: auto;"><a href="/logout">Logout</a></div>
    <div style="margin-right: 0; margin-left: auto;">Welcome, <%= user.displayName %></div>
    <%}%>
  </div>
  <div id="map"></div>
  <input type="button" id="add-location-btn" value="Add Location"></button>
  <input type="button" id="cancel-edit-btn" value="Cancel Edit" style="display: none"></button>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap&&libraries=drawing" async
    defer></script>
</body>

</html>